# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.venv
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebooks
.ipynb_checkpoints

# IDE
.vscode/
.idea/

# Machine Learning Models
*.pth
*.pt
*.ckpt
*.safetensors
*.onnx
data/
models/
output/
hf_models_cache/

# MacOS
.DS_Store

# Priv
frontend/experiments
backend/experiments

# Local machine overrides
.env.local
.env.*.local
