# Do not use - Use pyenv and poetry instead
# Base
numpy
pandas
scipy
matplotlib
tqdm
ipykernel
jupyter

# App GUI
streamlit

# HuggingFace
transformers
diffusers
accelerate

# Attributors
captum
daam # Error installing it with in poetry.
